<header class="main-header">
  <nav>
    <ul>
      <li>
        <a href="/"> Accueil </a>
      </li>
      <li><a href="/books">Livres</a></li>
    </ul>
    <ul>
      <li>
        <% if (isLoggedIn) { %>
        <a href="/users/logout">Se déconnecter</a>
        <% } else { %>
        <a href="/users/login">Se connecter</a>
        <% } %>
      </li>
    </ul>
  </nav>
</header>
