services:
  express:
    build:
      context: .
      dockerfile: Dockerfile.express
      target: development
    environment:
      - NODE_ENV=development
    ports:
      - "3000:3000"
    volumes:
      - ./:/usr/src/app:delegated
      - node_modules:/usr/src/app/node_modules
    depends_on:
      - mongodb

  mongodb:
    image: mongo:latest

    ports:
      - "27017:27017"
    volumes:
      - mongodbdata:/data/db

volumes:
  mongodbdata:
  node_modules:
