<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include("partials/meta") %>
    <title><%= metaTitle %></title>
  </head>
  <body>
    <%- include("partials/header") %>
    <style>
      main {
        padding: 2rem;

        text-align: center;
      }
    </style>
    <main>
      <h1>Bienvenue sur la page d'accueil</h1>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
